@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

body {
  width: 100%;
  font-family: 'Roboto Slab';
  font-style: normal;
}

.main {
  padding: 21px 121px 121px;
}

.paragraph {
  font-family: 'Roboto';
  font-weight: 400;
}

header {
  padding-top: 21px;
}

header img {
  width: 112px;
  height: 66px;
}

.meta-info {
  display: flex;
  margin-top: 97px;
  font-size: 20px;
  line-height: 115%;
  list-style-type: none;
}

.meta-info__item {
  margin-right: 45px;
}

.meta-info__item span {
  margin-left: 10px;
}

.intro, .c-about__main, .c-about__lessons {
  display: flex;
}

.intro__heading {
  margin-top: 29px;
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
}

.intro__paragraph {
  margin-top: 12px;
  width: 414px;
  font-size: 20px;
  line-height: 150%;
}

.intro__image {
  margin-top: 20px;
  margin-left: auto;
  width: 304px;
  height: 356px;
}

.quote {
  margin: 67.6px auto 0 auto;
  padding: 19.5px 0;
  width: 483px;
  border-radius: 5px;
  background-color: #1E4681;
  color: #fff;
}

.quote__text {
  padding: 0 26.03px 0 27.02px;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
}

.quote__author {
  margin-top: 10px;
  margin-right: 18.5px;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
}

.section-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
}

.c-about {
  margin-top: 173px;
}

.c-about__paragraph {
  margin-top: 35px;
  width: 662px;
  font-size: 24px;
  line-height: 150%;
}

.c-about__main-image {
  margin-left: auto;
}

.c-about__lessons {
  margin-top: 100px;
  align-items: center;
}

.c-about__lessons-image {
  margin-right: 132px;
}

.c-about__lessons-item {
  margin-right: 92px;
  font-family: 'Roboto';
  line-height: 130%;
}

.c-about__lessons-title {
  font-weight: 700;
  font-size: 25px;
}

.c-about__lessons-paragraph {
  font-weight: 400;
  font-size: 18px;
}

.c-format {
  margin-top: 178px;
}

.c-format__list {
  display: flex;
  margin-top: 100px;
}

.c-format__item {
  width: 245px;
  margin-right: 120px;
}

.c-format__title {
  color: #1E4681;
}

.c-format__paragraph {
  margin-top: 10px;
  font-size: 18px;
  line-height: 130%;
}

.c-learn {
  margin-top: 180px;
}

.c-learn__list {
  margin-top: 60px;
  margin-left: 10px;
}

.c-learn__item {
  font-size: 24px;
  line-height: 150%;
}

.c-program {
  margin-top: 230px;
}

.c-program__items {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 37px;
}

.c-program__item {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.c-program__image {
  width: 100%;
}

.c-program__text {
  padding: 11px 14px 23px 19px;
  font-family: 'Roboto';
  line-height: 130%;
}

.c-program__title {
  font-weight: 700;
  font-size: 25px;
}

.c-program__paragraph {
  margin-top: 32px;
  font-weight: 400;
  font-size: 20px;
}

.c-students {
  padding: 100px 122px;
  background-color: #EFEFEF;
}

.review {
  margin-top: 60px;
  padding: 40px 45px;
  width: 791px;
  background: #FFFFFF;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.review__text {
  font-size: 20px;
  line-height: 150%;
}

.review__author {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.review__username {
  font-weight: 700;
  font-size: 30px;
  line-height: 101.38%;
}

.review__social-link {
  margin-top: 10px;
}

.c-plan {
  padding: 180px 122px;
  background: #9DC9C8;
}

.c-plan__d-cost {
  margin-top: 54px;
}

.c-plan__cost {
  font-size: 80px;
  line-height: 101.38%;
}

.c-plan__about {
  margin-top: 130px;
  display: flex;
  line-height: 101.38%;
}

.c-plan__about-item {
  width: 295px;
  margin-right: 70px;
}

.c-plan__about p {
  margin-top: 15px;
}

.c-plan__about p:first-child {
  font-size: 25px;
}

.c-plan__about p:last-child {
  font-size: 18px;
}

footer {
  padding: 50px 122px 25px;
  background-color: #000;
}

.f-header {
  display: flex;
  justify-content: space-between;
}

.f-contact {
  font-size: 25px;
  line-height: 101.38%;
  color: #fff;
}

.f-contact img {
  width: 22px;
}

.f-phone, .f-email {
  display: flex;
}

.f-phone p, .f-email p {
  margin-left: 22px;
}

.f-social-links {
  margin-top: 30px;
}

.f-social-links img {
  width: 33px;
}

.f-copyright {
  margin-top: 150px;
  font-size: 18px;
  line-height: 101.38%;
  color: #fff;
}

@media (min-width: 579px) and (max-width: 992px) {
  header img {
    width: 65px;
    height: 38px;
  }

  .main {
    padding: 21px 70px 121px;
  }

  .section-title {
    font-size: 32px;
  }

  .meta-info {
    margin-top: 56px;
    font-size: 12px;
  }

  .meta-info img {
    width: 12px;
  }

  .intro__heading {
    font-size: 46px;
  }

  .intro__text {
    width: 363px;
  }

  .intro__paragraph {
    font-size: 12px;
  }

  .intro__image {
    width: 176px;
    height: 206px;
    margin-left: 80px;
  }

  .quote {
    width: 280px;
    margin-top: 50px;
    padding: 11.5px 0;
  }

  .quote__text {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 9px;
  }

  .quote__author {
    font-size: 12px;
  }

  .c-about {
    margin-top: 100px;
  }

  .c-about__paragraph {
    margin-top: 10px;
    width: 380px;
    font-size: 14px;
  }

  .c-about__main-image {
    width: 180px;
    margin-right: 88px;
  }

  .c-about__lessons {
    margin-top: 50px;
  }

  .c-about__lessons-image {
    width: 134px;
  }

  .c-about__lessons-title {
    font-size: 15px;
  }
  
  .c-about__lessons-paragraph {
    font-size: 11px;
  }

  .c-format {
    margin-top: 93px;
  }

  .c-format__list {
    margin-top: 50px;
  }

  .c-format__title {
    font-size: 15px;
  }

  .c-format__paragraph {
    font-size: 11px;
  }

  .c-learn {
    margin-top: 100px;
  }

  .c-learn__item {
    font-size: 14px;
  }

  .c-program {
    margin-top: 140px;
  }

  .c-program__title {
    font-size: 17px;
  }

  .c-program__paragraph {
    font-size: 14px;
  }

  .c-students {
    padding: 52px 70px;
  }

  .review {
    padding: 23px 26px;
    width: 458px;
  }

  .review__image {
    width: 110px;
  }

  .review__social-link {
    width: 18px;
  }

  .review__text {
    font-size: 12px;
  }

  .review__username {
    font-size: 17px;
  }

  .c-plan {
    padding: 103px 170px;
  }

  .c-plan__d-cost {
    font-size: 14px;
  }
  
  .c-plan__cost {
    font-size: 46px;
  }

  .c-plan__about {
    margin-top: 80px;
  }

  .c-plan__about p {
    margin-top: 5px;
  }

  .c-plan__about p:first-child {
    font-size: 14px;
  }
  
  .c-plan__about p:last-child {
    font-size: 10px;
  }

  .f-header__logo {
    width: 66px;
    height: 38px;
  }

  .f-contact {
    font-size: 14px;
  }

  .f-contact img {
    width: 15px;
  }

  .f-social-links {
    margin-top: 18px;
  }

  .f-social-links img {
    width: 19px;
  }

  .f-copyright {
    margin-top: 146px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  header img {
    width: 52px;
    height: 30px;
  }

  .main {
    padding: 21px 35px 47px 35px;
  }

  .section-title {
    font-size: 26px;
  }

  .meta-info {
    margin-top: 44px;
    font-size: 10px;
  }

  .meta-info__item {
    margin-right: 20px;
  }

  .meta-info__item span {
    margin-left: 5px;
  }

  .meta-info img {
    width: 12px;
  }

  .intro {
    flex-direction: column;
  }

  .intro__heading {
    font-size: 37px;
  }

  .intro__text {
    width: 292px;
  }

  .intro__paragraph {
    width: 212px;
    font-size: 10px;
  }

  .intro__image {
    width: 141px;
    height: 165px;
    margin-left: auto;
  }

  .quote {
    width: 225px;
    margin-top: 38px;
    margin-left: 0;
    padding: 11.5px 0;
  }

  .quote__text {
    font-size: 11px;
    padding-left: 15px;
    padding-right: 9px;
  }

  .quote__author {
    font-size: 10px;
  }

  .c-about {
    margin-top: 70px;
  }

  .c-about__paragraph {
    margin-top: 10px;
    width: 308px;
    font-size: 14px;
  }

  .c-about__main {
    flex-direction: column;
  }

  .c-about__main-image {
    width: 146px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .c-about__lessons {
    margin-top: 25px;
    flex-wrap: wrap;
  }

  .c-about__lessons-item {
    margin-top: 25px;
    width: 70px;
  }

  .c-about__lessons-image {
    display: none;
  }

  .c-about__lessons-title {
    font-size: 12px;
  }
  
  .c-about__lessons-paragraph {
    font-size: 10px;
  }

  .c-format {
    margin-top: 70px;
  }

  .c-format__list {
    flex-direction: column;
    margin-top: 20px;
  }

  .c-format__item {
    margin-top: 20px;
  }

  .c-format__title {
    font-size: 12px;
  }

  .c-format__paragraph {
    margin-top: 5px;
    font-size: 10px;
  }

  .c-learn {
    margin-top: 75px;
  }

  .c-learn__list {
    margin-top: 15px;
  }

  .c-learn__item {
    font-size: 12px;
  }

  .c-program {
    margin-top: 85px;
  }

  .c-program__items {
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-top: 35px;
  }

  .c-program__items {
    width: 185px;
  }

  .c-program__title {
    font-size: 14px;
  }

  .c-program__paragraph {
    font-size: 12px;
  }

  .c-students {
    padding: 42px 36px;
  }

  .review {
    padding: 18px 21px;
    width: 258px;
  }

  .review__image {
    width: 80px;
  }

  .review__social-link {
    width: 14px;
  }

  .review__text {
    font-size: 10px;
  }

  .review__username {
    font-size: 14px;
  }

  .c-plan {
    padding: 62px 57px;
  }

  .c-plan__d-cost {
    font-size: 12px;
  }
  
  .c-plan__cost {
    font-size: 37px;
  }

  .c-plan__about {
    margin-top: 80px;
  }

  .c-plan__about p {
    margin-top: 5px;
  }

  .c-plan__about-item {
    margin-right: 30px;
  }

  .c-plan__about p:first-child {
    font-size: 12px;
  }
  
  .c-plan__about p:last-child {
    font-size: 10px;
  }

  footer {
    padding: 23px 56px;
  }

  .f-header {
    flex-direction: column;
  }

  .f-header__logo {
    width: 53px;
    height: 31px;
  }

  .f-contact {
    margin-top: 45px;
    font-size: 12px;
  }

  .f-contact img {
    width: 10px;
  }

  .f-social-links {
    margin-top: 13px;
  }

  .f-social-links img {
    width: 15px;
  }

  .f-copyright {
    margin-top: 48px;
    font-size: 10px;
  }
}